1  ? attrs==23.1.0
2   certifi==2023.7.22
3   cffi==1.15.1
4   charset-normalizer==3.2.0
5   chromedriver-autoinstaller==0.6.2
6   colorama==0.4.6
7   decorator==5.1.1
8   exceptiongroup==1.1.3
9   h11==0.14.0
10  idna==3.4
11  iniconfig==2.0.0
12   install==1.3.5
13   Jinja2==3.1.2
14   MarkupSafe==2.1.3
15   outcome==1.2.0
16   packaging==23.1
17   pluggy==1.2.0
18   pycparser==2.21
19   PySocks==1.7.1
20   pytest==7.4.0
21   pytest-base-url==2.0.0
22   pytest-html==4.0.0
23   pytest-metadata==3.0.0
24   pytest-variables==3.0.0
25   python-dotenv==1.0.0
26   requests==2.31.0
27   requests-toolbelt==1.0.0
28   selenium==4.12.0
29   self==2020.12.3
30   sniffio==1.3.0
31   sortedcontainers==2.4.0
32   tenacity==8.2.3
33   trio==0.22.2
34   trio-websocket==0.10.3
35   urllib3==2.0.4
36   webdriver-auto-update==1.0.0
37   wget==3.2
38   wsproto==1.2.0